[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name[pt_BR]=Regata OS Store
Name[pt]=Regata OS Store
Name[en_US]=Regata OS Store
Name=Regata OS Store
Comment[pt_BR]=Loja de aplicativos
Comment[pt]=Loja de aplicativos
Comment[en_US]=App store
Comment=App store
GenericName[pt_BR]=Loja de aplicativos
GenericName[pt]=Loja de aplicativos
GenericName[en_US]=App store
GenericName=App store
Exec=regataos-store
Icon=regataos-store-icon
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=Regata OS Store
