[Desktop Entry]
Encoding=UTF-8
Name=Install RPM package
Name[pt_BR]=Instalar pacote RPM
GenericName=Install third-party RPM packages
GenericName[pt_BR]=Instale pacotes RPM de terceiros
Exec=/usr/lib/YaST2/bin/sw_single_wrapper %F
Icon=muon
Terminal=false
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;PackageManager;
MimeType=application/x-rpm;application/x-redhat-package-manager;
NotShowIn=GNOME;MATE;
StartupNotify=true
