
#search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 9px;
    right: 0;
    margin-top: 25px;
    margin-bottom: 30px;
}

#search input#field {
font-family: 'Roboto', sans-serif;
font-weight: 400;
background-position:top left; 
background-repeat:no-repeat; 
width: 165px; 
padding:7px;
outline: none; 
font-size: 15px;
border-radius: 5px;
border: 2px;
border-color: rgba(49, 49, 49, 0.3);
z-index: 1; 
height:16px;
padding-right: 0px;
}
#search input#field:focus {
background-position:top left; 
background-repeat:no-repeat;
}
#search input.submit {
width:auto; 
height:31px;
font-weight:normal;
text-transform: uppercase; 
float:left; 
border:none; 
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 600;
cursor:pointer; margin:0 0 0 1px;
}
#search input#field {
background-image:url(https://4.bp.blogspot.com/-UFM8Pjg12gc/XulnD1dgw6I/AAAAAAAAYh0/8c_hCIG6er4mCBIQN-wKq7csUwdkWr6igCLcBGAsYHQ/s1600/icone-search.png); 
background-color: #494d54; /*cor de fundo de onde digitamos a busca*/
color: #c9c9c9;/*cor de fonte*/
border: 1px solid rgba(49, 49, 49, 0.3);
transition: border-color .3s,background-color .3s,color .3s,box-shadow .3s;
padding-left: 32px;
}
#search input#field:focus {
background-image:url(https://4.bp.blogspot.com/-UFM8Pjg12gc/XulnD1dgw6I/AAAAAAAAYh0/8c_hCIG6er4mCBIQN-wKq7csUwdkWr6igCLcBGAsYHQ/s1600/icone-search.png); 
background-color: #575b63; /*cor de fundo do botão Buscar em estado hover*/
color: #fff;/*cor de fonte*/

}
#search input.submit {
display: none;
background-color:#1a1a1a; /*cor de fundo do botão Buscar*/
color:#ccc;/*cor da fonte do botão Buscar*/
border: 0px solid #1a1a1a;
transition: background-color .3s;
}

#search input.submit:hover {
background-color: #417A9B;
border: 0px solid #0d547a;
color: #fff;
}
