@font-face {
    font-family: "Oxygen";
    src: url('fonts/Oxygen/Oxygen-Regular.ttf');
}

body {
    font-family: Oxygen;
    font-weight: 400;
    background: #ccc;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar-track {
    background-color: #b4b6b8;
}

::-webkit-scrollbar {
    width: 10px;
    background: #b4b6b8;
}

::-webkit-scrollbar-thumb {
    background: #74777a;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3fb0e8;
}

img {
    pointer-events: none;
}

ul {
    animation-name: example;
    animation-duration: 2s;
    padding-left: 0px;
}

li {
    list-style-type: none;
}

a {
    cursor: pointer;
}

a img {
    border: none;
    position: relative;
}

/* Display content when everything is ready */
#loadscreen {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2a2e32;
    z-index: 40000;
    animation-name: initEffect;
    animation-duration: 1.2s;
    animation-delay: 1.3s;
}

@keyframes initEffect {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.page {
    margin-left: 0px;
    min-width: 0px;
}

.content {
    height: 100%;
}

.iframe-pages {
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

.iframe-pages::-webkit-scrollbar {
    display: none;
}

.actions {
    display: none;
    position: absolute;
    top: 140px;
    right: 0;
    width: 100%;
    height: 10px;
    margin-left: 0px;
    z-index: 20000;
}

.action-buttons {
    display: none;
    position: relative;
    width: 870px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 35px;
    padding-left: 0px;
}

.button {
    text-align: center;
    color: #ffffff;
    outline: none;
    letter-spacing: 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
    font: 20px 'Oxygen', sans-serif;
    font-weight: 300;
    padding: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none;
    -user-select: none;
}

.install {
    display: none;
    float: right;
    background-color: #0e8420;
    width: 140px;
    opacity: 1;
    animation-name: example;
    animation-duration: 2s;
}

.install:hover {
    background-color: #0d6b1b;
    border-color: #666666;
    text-decoration: none;
}

.install:active {
    background-color: #095615;
    border-color: #666666;
    text-decoration: none;
}

.installing {
    display: none;
    cursor: default;
    float: right;
    color: #444;
    background-color: #c1c0c0;
    width: 140px;
    border: 1px solid #a9a9a9;
}

.remove {
    display: none;
    float: right;
    background-color: #bf2d32;
    width: 140px;
    opacity: 1;
    animation-name: example;
    animation-duration: 2s;
}

.remove:hover {
    background-color: #a7292d;
    border-color: #666666;
    text-decoration: none;
}

.remove:active {
    background-color: #941318;
    border-color: #666666;
    text-decoration: none;
}

.removing {
    display: none;
    cursor: default;
    float: right;
    color: #444;
    background-color: #c1c0c0;
    width: 140px;
    border: 1px solid #a9a9a9;
}

.open {
    display: none;
    float: right;
    background-color: #0e8420;
    width: 60px;
    margin-right: 10px;
    opacity: 1;
    animation-name: example;
    animation-duration: 2s;
}

.open:hover {
    background-color: #0d6b1b;
    border-color: #666666;
    text-decoration: none;
}

.open:active {
    background-color: #095615;
    border-color: #666666;
    text-decoration: none;
}

.steam {
    display: none;
    float: right;
    background-color: #0067b8;
    width: 140px;
    opacity: 1;
    animation-name: example;
    animation-duration: 2s;
}

.steam:hover {
    background-color: #035596;
    border-color: #666666;
    text-decoration: none;
}

.steam:active {
    background-color: #024880;
    border-color: #666666;
    text-decoration: none;
}

.topbar {
    display: none;
    position: fixed;
    cursor: pointer;
    top: 0px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #2a2e32;
    border-bottom: 0px solid #121212;
    user-select: none;
    transition: all 0.3s ease-in-out;
    z-index: 10000;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(8, 13, 18, 0.5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(8, 13, 18, 0.5);
    box-shadow: 0px 0px 6px 0px rgba(8, 13, 18, 0.5);
    opacity: 1;
    animation-name: example;
    animation-duration: .5s;
    padding-left: 10px;
}

.topbar:hover {
    background-color: #373e46;
}

.top-bar-arrow svg {
    fill: #fff;
}

/* top bar arrow css */
.top-bar-arrow {
    float: left;
    color: #fff;
    cursor: pointer;
    height: 26px;
    opacity: 1;
    animation-name: example;
    animation-duration: .3s;
    padding-top: 2px;
}

.sidebar {
    display: block;
    position: fixed;
    background-color: #2a2e32;
    text-align: left;
    /* top: 50px; */
    left: 0px;
    width: 230px;
    height: 100%;
    padding: 0px 0px 14px 0px;
    user-select: none;
    z-index: 30000;
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

.sidebar ul li {
    cursor: pointer;
    background-color: #2a2e32;
    transition: all 0.3s ease-in-out;
    color: #d2d5da;
    font-family: 'Oxygen', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: -1;
}

.li-sidebar-b {
    display: none;
    bottom: 0;
    width: 58px;
    animation-name: example;
    animation-duration: 2s;
}

.li-sidebar-uninstalling {
    display: none;
    bottom: 0;
    width: 58px;
    animation-name: example;
    animation-duration: 2s;
}

.link-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 26px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 2px;
}

.sidebar ul li:hover {
    background-color: #373e46;
    color: #d2d5da;
}

.link-items p {
    color: #d2d5da;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.sidebar-item-effect {
    display: block;
    float: left;
    width: 5px;
    height: 30px;
    border-radius: 4px;
    margin-left: 4px;
    transition: all 0.3s ease-in-out;
}

.sidebar-item-effect-on {
    background-color: #1c86fa;
}

.sidebar-item-effect-dark {
    transition: all 0.3s ease-in-out;
}

.sidebar #ul-menu li:hover .sidebar-item-effect {
    background-color: #1c86fa;
}

.sidebar #ul-menu li:hover .sidebar-item-effect-dark {
    background-color: #1c86fa;
}

.fas {
    margin-right: 5px;
    font-size: 22px;
}

.fas-margin {
    margin-right: 5px;
    font-size: 22px;
}

.icones-menu {
    display: inline-block;
    height: 28px;
    width: auto;
    padding-right: 5px;
    left: -8px;
}

.progress-bar {
    display: none;
    position: fixed;
    bottom: 0px;
    min-height: 135px;
    float: left;
    opacity: 1;
    animation-name: example;
    animation-duration: 2s;
}

.progress-bar-show {
    display: block !important;
}

.iframe_pb {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 180px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.progress-bar-full {
    display: none;
    height: 300px;
    width: 423px;
    bottom: 0;
    float: right;
    opacity: 1;
    border: 8px #202225 solid;
    border-radius: 5px;
    animation-name: example2;
    animation-duration: .3s;
    transition: all .3s;
    z-index: 30000;
    position: fixed;
    margin-left: 250px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 3px rgba(8, 13, 18, 0.5);
}

.progress-bar-full-show {
    display: block !important;
    margin-left: 250px;
    opacity: 1;
}

.progress-bar-full-hide {
    margin-left: 240px;
    opacity: 0.5;
}

.iframe_pbf {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #202225;
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes example2 {
    from {
        opacity: 0.5;
        margin-left: 245px;
    }

    to {
        opacity: 1;
        margin-left: 250px;
    }
}