[Desktop Entry]
Exec=/opt/regataos-store/scripts/snap-version-cache/snap-version-cache.sh
OnlyShowIn=KDE;
Type=Service
MimeType=
Terminal=false
X-KDE-autostart-after=root
X-KDE-StartupNotify=false
X-KDE-autostart-condition=AutoStart:true
Icon=system-run
GenericName=regataos-store-snap-version-cache
Name=regataos-store-snap-version-cache
